{% extends "index.html" %}
{% block style %}
<link rel="stylesheet" href="static/css/listStyle.css">
{% endblock %}
{%block content%}

<div class="container">
  <div class="row">
      <div class="col-md-12">
          <ol>
              {% for item in items %}
              <li>
                  <form action="" method="post">
                      {% csrf_token %}
                      {% if item.status == True %}
                      <input type="checkbox" onclick="changeStatus('{{item.id}}')" name="statusCheckbox"
                          id="status{{item.id}}" checked>
                      {% else %}
                      <input type="checkbox" onclick="changeStatus('{{item.id}}')" name="statusCheckbox"
                          id="status{{item.id}}">
                      {% endif %}
                  </form>
                  <div class="textElement">{{item}}</div>
                  <div class="buttons">
                    <a href="{% url 'update_item' item.id %}"><button type="button" class="btn btn-warning">Update</button></a>
                    <a href="{% url 'delete_item' item.id %}"><button type="button" class="btn btn-danger">Delete</button></a>
                  </div>
              </li>
              {% endfor %}
          </ol>
          <div style="width: 100%; text-align: center; padding:1%;">
            <a href="{% url 'new_item' %}">
                <button type="button" class="btn btn-success">Add New Task</button>
            </a>
        </div>
      </div>
  </div>
</div>


  <script>
    function changeStatus(id)
    {
      const csrfToken = "{{ csrf_token }}";
      const djangoEndpoint = 'change_status/';
      const postData = {
        key1: id,
      };
      fetch(djangoEndpoint, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          'X-CSRFToken': csrfToken,
        },
        body: JSON.stringify(postData),
      })
    }
  </script>
  
{% endblock %}