{% extends "index.html" %}
{% block style %}
<link rel="stylesheet" href="static/css/listStyle.css">
{% endblock %}
{%block content%}

<div class="container">
    <ol>
      {% for item in items %}
      <li>
        <form action="" method="post">
          {% csrf_token %}
          {% if item.status == True %}
            <input type="checkbox" onclick="changeStatus('{{item.id}}')" name="statusCheckbox" id="status{{item.id}}" checked>
          {% else %}
            <input type="checkbox" onclick="changeStatus('{{item.id}}')" name="statusCheckbox" id="status{{item.id}}">
          {% endif %}
        </form>
        <div class="textElement">{{item}}</div>
        <div class="buttons right-align">
          <div class="btnStyle updateElementColor">
            <a href="{% url 'update_item' item.id %}">Update</a>
          </div>
          <div class="btnStyle deleteElementColor">
            <a href="{% url 'delete_item' item.id %}">Delete</a>
          </div>
        </div>
      </li>
      {% endfor %}
    </ol>
    <div class="btnStyle newElementColor">
      <a href="{% url 'new_item' %} ">Add new Task</a>
    </div>
  </div>
  <script>
    function changeStatus(id)
    {
      const csrfToken = "{{ csrf_token }}";
      const djangoEndpoint = 'change_status/';
      const postData = {
        key1: id,
      };
      fetch(djangoEndpoint, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          'X-CSRFToken': csrfToken,
        },
        body: JSON.stringify(postData),
      })
    }
  </script>
  
{% endblock %}