{% extends "index.html" %}
{%block content%}
<style>
  .container{
    display:grid;
    place-items: center;
    border: 1px solid lightgray;
    border-radius: 10px;
  }
  .btnStyle{
    padding:5px;
    border-radius:3px;
    text-align: center;
    height:max-content;
  }
  .newElementColor{
    border:1px solid #00b74a;
    background-color: #00b74a;
  }
  .updateElementColor{
    border:1px solid #1266f1;
    background-color: #1266f1;
  }
  .deleteElementColor{
    border:1px solid #f93154;
    background-color: #f93154;
    }
  .textElement{
    margin-top: 1.3%;
  }
  a{
    color:white;
    text-decoration: none;
  }
  a:hover{
    color:white;
    text-decoration: none;
  }
  li{
    display: flex;
    justify-content: space-between;
    margin:10px;
    width:90%;
    border-bottom: 1px solid lightgray;
    margin:5px;
  }
  li > *{
    margin:5px;
    }
  .right-align { margin-left: auto; }
  .buttons{
    display: flex;
  }
  .buttons > *{
    align-self: center;
    margin-left:5px;
    margin-right:5px;
  }


</style>
<div class="container">
    <h3>To do:</h3>
    <div class="btnStyle newElementColor">
      <a href="{% url 'new_item' %}">Add new Task</a>
    </div>
    <ol>
      {% for item in items %}
      <li>
        <div class="textElement">{{item}}</div>
        <div class="buttons right-align">
          <div class="btnStyle updateElementColor">
            <a href="{% url 'update_item' item.id %}">Update</a>
          </div>
          <div class="btnStyle deleteElementColor">
            <a href="{% url 'update_item' item.id %}">Delete</a>
          </div>
        </div>
      </li>
      {% endfor %}
    </ol>
  </div>
{% endblock %}